.shadow {
  box-shadow: 0 6px 4px -2px gray;
}

.primaryCard {
  z-index: 1;
}
.noBorder {
  border-top: 'none' !important;
}

.purple {
  background-color: #7B5BE4 !important;
;
}

.purpleText {
  color: #7B5BE4 !important;
}

