.shadow {
  box-shadow: 0 6px 4px -2px gray;
}

.primaryCard {
  width: 25rem;
  height: auto;
  border: 2px solid #868686;
  background-color: #ffffff !important;
  z-index: 1 !important;
}

.secondaryCard {
  border-top: none;
  width: 25rem;
  height: auto;
  border: 2px solid #C8C6C6;
  z-index: -1 !important;
}
.noBorder {
  border-top: 'none' !important;
}

.purple {
  background-color: #7b5be4 !important;
}

.purpleText {
  color: #7b5be4 !important;
}

.tag {
  width: 85%;
}
